.header-title__wrap{
    padding: 12.59px 0 0 0;;
}
.main-nav-item{
    padding: 89.59px 0 0 0;
}
.main-nav-item__wrap{
    padding-right: 15.5px;
}
.main-nav__link{
    border: 6px solid transparent;
    border-radius: 4px;
}
.main-nav__link:hover{
    background-color: $burgundy;
    color: $main-white;
    overflow: hidden;
}
.section-th__container{
    max-width: 629px;
    padding: 28.54px 0 40.46px 0 ;
}
.section-txt-txt
{
    max-width: 491px;
    padding: 25px 0 127px 10px;
}
.section-th__button{
    padding: 31px 0 28px 0;
}
.btn--section-th{
    padding: 17.57px 72.93px 19.43px 64.07px;
    border-radius: 6px;
}
.section-sourth{
    &__content{
        padding: 80px 10px 65px 10px;
    }
    &__title{
        padding-left: 10px;
        padding-top: 122.68px;
    }
    &__titles{
        padding-top: 31px;
    }
    &__step{
        &-item{
            max-width: 176px;
            width: 25%;
            min-width: 120px
        }
        &-icon{
            width: 162px;
            height: 162px;
            margin: 0 auto 42px ;
            object{
                display: block;
                margin: 0 auto;
            } 
        }
        &-title{
            margin-bottom: 21px;
        }
    }
}
input::placeholder
{
    font-family: 'PT serif', sans-serif;
        font-size: 20px;
        font-weight: 400;
        opacity: 0.5;
}
div input[type="name"], input[type="phone"], input[type="email"], input[type="country"] {
	height: 57px;
	width: 100%;
	padding: 18px 0 15px 18.5px;
	color: grey;
	border: none;
    border-radius: 5px;
}
div input[type="checkbox"]
{   
	padding: 15px 0 15px 0px;
	color: grey;
	border: none;
    margin-right: 10px;
}
.relativ
{
    position: relative;
}
.checkbox{
    border-radius: 50%;
}
.field-form {
    position: relative;
    padding: 8px 24px 8px 23px;
  }
  .field-form::before {
    position: absolute;
    left: 18.5px;
    top: 18.29px;
    color: #B5B5B5;
    content: "";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }

.inputs-img {
    position: absolute;
    width: 100%;
    bottom: -88px;
    padding-bottom: 22px;

}
.section-fourth
{margin-bottom: 139.6px;}
.Pricing__wrap{
    padding: 50.6px 0 47.4px 0;
}
.list-price__card{
    max-width: 318px;
    border-radius: 5px;
}
.Pricing--title{
    padding: 29.25px 0 18.77px;
}
.linear{
    position: relative;
}
.img-popular{
    position: absolute;
}
.txt-popular{
    transform: rotate(-50deg);
    top: 20px;
    position: absolute;
}
.pricing-bg__wrap{
    padding-bottom: 12.98px;
}
.btn-price{
    &1{
    padding: 11.57px 81px 10.43px 81px;
    border-radius: 5px;
    }
    &2{
        padding: 10.57px 57px 11.43px 53px;
        border-radius: 5px;
    }
    &3{
        padding: 10.57px 52px 11.43px 58px;
        border-radius: 5px;
    }
}
.btn-price__wrap{
    padding: 34px 57px 0 56px;
}
.section-five{
    padding-bottom: 119px;
}
.gallery-image{
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    border-radius: 50%;
}
.clients-table-imgs-wrap{
    max-width: 400px;
    min-height: 300px;
}
.section-five-test__tittle{
    padding-left: 98.95px;
}
.section-five-gallery__tittle{
    padding-bottom: 51px;
}
.test1-content__wrap{
    min-width: 400px;
    padding: 45px 0 17.11px 26px;
}
.test2-content__wrap{
    min-width: 356px;
    padding: 20.74px 57px 16.11px 26px;
}
.card-test{
    width: 439px;
    border-radius: 5px;
}
.testimonials-content-wrap{
    max-width: 356px;
    position: relative;
}
.test-logos1{
    top: 112px;
    left: 385px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)
}
.test-logos2{
    top: 310px;
    left: 385px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25)
}
.DJ1-content__wrap{
    padding: 0 0 62.15px 26px;
}
.DJ2-content__wrap{
    padding: 0 0 27.15px 26px;
}
.clients-table-imgs-wrap{
    padding-bottom: 44px;
}
.clients-content-wrap{
    padding-right: 50px;
}

.link-txt{
    border-bottom: solid 1px $burgundy;
}
.footer-txt__wrap{
    padding: 74.5px 0 74.5px 0;
}
.footer-title__wrap{
    padding: 54.22px 0 54.22px 0;
}
@media (max-width:1000px){
    .d-flex
    {padding: 20px;
    }
    .list-price__card{
        margin-bottom: 20px;
    }
}
@media (max-width:690px){
    .price-containers{
        justify-content: center;
    }
}
@media (max-width:991px){
    .section-fourth
{
    margin-bottom: 10px;
}
.section-five
{
    padding-bottom: 10px;
}
    .header-title__wrap{
        padding: 0;;
    }
    .alself
    {
        align-self: center;
    }
    .w100
    {width: 100%;}
    .flexcolumn
    {
    flex-direction:column;
    }
    .txt
    {
        &--left{
            text-align: center
        }
    }
    .alitc
    {
        align-items: center;
    }
    .jcc
    {   text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .section-five__wrap{
        flex-direction: column;
    }
    .container-60, .container-40
{
    width: 100%;
}
.inputs-img
{position: relative;
bottom: 0;}
.section-sourth__title
{padding-top: 20px;}
.section-sourth{
    &__content{
        padding:10px;
    }
    &__title{
        padding: 10px;
    }
}
    .main-nav-item{
        padding: 10px;
    }
    .btn-inpt
    {width: 100%;
        display: block;}
    .section-th__button
    {display: contents;}
    .section-txt-txt
{   max-width: 100%;
    padding: 25px;
}
.clients-content-wrap{
    padding-right: 0;
}
.clients-table-imgs-wrap{
    max-width: 100%;
    min-height: 150px;
}
.clients-timgs{
    padding: 20px;
}
}
@media (max-width:767px){
    .fdc
    {
    flex-direction: column;
    align-items: center;
    }
    .tc
    {
    text-align: center;
    }
    .footer-txt__wrap{
        padding: 10px;
    }
    .footer-title__wrap{
        padding: 10px;
    }
}
.section-sourth{
&__step{
    &-item{
        max-width: 176px;
        width: 100%;
        min-width: 120px;
    padding: 10px;
    }}}
@media (max-width:576px){
    .section-five-test__tittle{
        padding-left: 50px;
    }
    .card-test{
        width: 400px;
    }
    .test-logos1{
        top: 120px;
        left: 355px;
    }
    .test-logos2{
        left: 355px;
    }

}
@media (max-width:581px){
    .break-title{
        overflow-wrap:break-word
    }
}
@media (max-width:575px){ }
@media (min-width:576px) and (max-width:767px){ }
@media (min-width:768px) and (max-width:991px){ }
@media (min-width:992px) and (max-width:1199px){ }
@media (min-width:1200px) and (max-width:1399px){ }